$tr4: all 0.4s ease-in-out;

a {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition   : all 0.4s ease-in-out;
  -o-transition     : all 0.4s ease-in-out;
  -ms-transition    : all 0.4s ease-in-out;
  transition        : all 0.4s ease-in-out;
  text-decoration   : none !important;
}

header {
  position  : fixed;
  width     : 100%;
  overflow  : hidden;
  z-index   : 999;
  background: none;

  & > .container {
    position: relative;

    .logo {
      float     : left;
      position  : relative;
      margin-top: 30px;
      transition: 0.4s ease-in-out;

      img {
        z-index   : 3;
        position  : relative;
        max-width : 100%;
        height    : auto;
        transition: 0.4s ease-in-out;
        display   : inline-block !important;
      }
    }

    input {
      display: none;
    }

    label.myInput {
      display         : none;
      width           : 40px;
      height          : 40px;
      background-color: transparent;
      cursor          : pointer;
      margin          : 25px 10px;
      z-index         : 100;
      position        : fixed;
      right           : 0;
      top             : 0;
      transition      : $tr4;
      overflow        : hidden;

      .menu {
        margin-top: 10px;

        .bar {
          height               : 2px;
          width                : 20px;
          border-radius        : 5px;
          margin               : 5px auto;
          display              : block;
          position             : relative;
          background-color     : #fff;
          -moz-border-radius   : 5px;
          -webkit-border-radius: 5px;
          border-radius        : 5px;
          -moz-transition      : 0.4s;
          -o-transition        : 0.4s;
          -webkit-transition   : 0.4s;
          transition           : 0.4s;
        }
      }
    }

    .navbar {
      display      : inline-block;
      position     : relative;
      transition   : 0.4s ease-in-out;
      border       : none;
      margin       : 0;
      padding      : 0;
      border-radius: 0;
      text-align   : center;
      min-height   : inherit;

      ul {
        &.ownmenu {
          float: right;

          a {
            transition: all 0.3s linear;
            outline   : none;
            z-index   : 10;
          }
        }

        li {
          display : inline-block;
          float   : left;
          margin  : 0 20px;
          position: relative;

          &:nth-child(1) {
            margin-left: 0;
          }

          &.meganav {
            position: inherit;
          }

          a {
            font-size     : 12px;
            color         : #fff;
            font-weight   : normal;
            position      : relative;
            display       : block;
            font-family   : 'Montserrat', sans-serif;
            text-transform: uppercase;

            &:before {
              width             : 0;
              margin            : 0 auto;
              position          : absolute;
              left              : 0;
              content           : "";
              bottom            : -1px;
              height            : 2px;
              background        : #fff;
              -webkit-transition: 0.2s ease-in-out;
              -moz-transition   : 0.2s ease-in-out;
              -ms-transition    : 0.2s ease-in-out;
              -o-transition     : 0.2s ease-in-out;
              transition        : 0.2s ease-in-out;
            }

            &:focus,
            &:hover {
              background: none;

              &:before {
                width: 100%;
              }
            }
          }

          &.active {
            a:before {
              width             : 100%;
              margin            : 0 auto;
              position          : absolute;
              content           : "";
              bottom            : -1px;
              height            : 2px;
              background        : #fff;
              -webkit-transition: 0.2s ease-in-out;
              -moz-transition   : 0.2s ease-in-out;
              -ms-transition    : 0.2s ease-in-out;
              -o-transition     : 0.2s ease-in-out;
              transition        : 0.2s ease-in-out;
            }
          }
        }
        @media (max-width: 1199px) and (min-width: 992px) {
          li {
            margin: 0 15px;
          }
        }
        @media (max-width: 767px) {
          &.ownmenu {
            width     : 100%;
            background: rgba(37,48,48,0.95);
            max-height: 450px;
            overflow-y: scroll;
          }
        }
      }
    }

    .social_icons {
      float     : right;
      color     : #fff;
      margin-top: 20px;

      a {
        color      : #fff;
        margin-left: 10px;

        &:hover {
          color: #ab4e52;
        }
      }
    }
    @media (min-width: 768px) {
      .navbar {
        border-radius: 4px;
      }
    }
  }

  &.header-normal {
    padding      : 0;
    border-bottom: 1px solid rgba(255,255,255,0.5);

    & > .container {
      position: relative;

      .logo {
        position: absolute;
        left    : 15px;
        margin  : 25px 0;
      }

      .navbar {
        padding-right: 150px;
        width        : 100%;
        float        : left;

        ul {
          li {
            a {
              padding   : 40px 0 36px;
              transition: 0.4s ease-in-out;

              &:before {
                bottom: -1px !important;
              }
            }
          }
        }
      }

      .social_icons {
        position  : absolute;
        right     : 0;
        margin-top: 40px;
        transition: 0.4s ease-in-out;
      }
      @media (max-width: 1199px) and (min-width: 992px) {
        .navbar {
          padding-left: 50px;
        }
      }
      @media (max-width: 991px) {
        #myInput:checked ~label.myInput .menu::after {
          -moz-animation   : circle-creation 1s forwards;
          -webkit-animation: circle-creation 1s forwards;
          animation        : circle-creation 1s forwards;
        }

        #myInput:checked ~label.myInput .bar:nth-of-type(1) {
          transform: translateY(7px) rotate(45deg);
        }

        #myInput:checked ~label.myInput .bar:nth-of-type(2) {
          transform : translateX(100px);
          transition: 0.6s;
        }

        #myInput:checked ~label.myInput .bar:nth-of-type(3) {
          transform: translateY(-7px) rotate(-45deg);
        }

        #myInput:checked ~ .navbar {
          display: block;
        }
      }
      @media (max-width: 991px) and (min-width: 768px) {
        .logo {
          position  : relative;
          display   : inline-block;
          width     : 100%;
          left      : 0;
          text-align: center;
          border    : none;

          a {
            margin-top: 0;
          }
        }

        label.myInput {
          display: inline-block;
        }

        #myInput {
          display: none;
        }

        .navbar {
          width        : 100%;
          padding-right: 0;
          float        : right;
          display      : none;

          .ownmenu {
            float     : left;
            width     : 100%;
            margin-top: 0;

            li {
              float : left;
              margin: 0;
              width : 14.2%;

              a {
                padding: 20px 0;
              }
            }
          }
        }

        .social_icons {
          position  : absolute;
          left      : 15px;
          float     : left;
          top       : 0;
          margin-top: 35px;
          width     : 120px;
        }
      }
      @media (max-width: 767px) {
        .social_icons {
          top       : 0;
          right     : 120px;
          margin-top: 35px;
        }

        .logo {
          padding : 0;
          position: relative;
          left    : 0;
        }

        label.myInput {
          display: inline-block;
        }

        .navbar {
          display      : none;
          padding-right: 0;

          ul {
            li {
              position: relative;
              z-index : 9;
              margin  : 0;
              width   : 100%;

              a {
                padding   : 10px 20px;
                text-align: left;
              }

              &.active a:before {
                height: 1px;
              }
            }
          }
        }
      }
      @media (max-width: 540px) {
        .social_icons {
          display: none;
        }
      }
    }

    &.sticky {
      transition: 0.4s ease-in-out;
      background: rgba(0,0,0,0.8);

      & > .container {
        .logo {
          margin    : 11px 0;
          transition: 0.4s ease-in-out;
        }

        .navbar {
          ul {
            li {
              a {
                padding: 25px 0;
              }
            }
          }
        }

        .social_icons {
          transition: 0.4s ease-in-out;
          margin-top: 23px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    &.header-normal {
      display   : inline-block;
      width     : 100%;
      min-height: 80px;
      border    : none;
    }
  }
}