@import "./normalize.css";
@import "./bootstrap.css";
@import "./app.css";
* {
  margin: 0px;
  padding: 0px;
}

html,
body,
#app,
.layout,
main,
main>.el-scrollbar {
  height: 100%;
  overflow: hidden;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
